#zoom-logo {
margin-top: 200px;
height: 280px;
width: 620p;
}

.nav-link {
    font-size: 25px;
}

#Home {
    background-image: url("https://i.natgeofe.com/k/12e65ac5-26fe-4471-ad13-f9e34b803f6c/Sleeping_Tiger-Terrific_KIDS_0722.jpg?");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -8px;
}

marquee {
    background-color: #FFF1FA;
    font-size: 14px;
    font-weight: bold;
    color: red;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid black;
  }
  
  div.gallery img {
    width: 178px;
    height: 135px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  #Contribute {
    margin-bottom: 100px;
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 0.5px solid rgb(202, 201, 201);
    justify-content: center;
  }

  .flip-card-inner {
    position: relative;
    width: 298px;
    height:298px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width:298px;
    height:298px;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }

.flip-card-back button {
  border: 0px;
  border-radius: 4px;
}

.flip-card-back h1 {
  font-size: 34.5px;
}

.flip-card a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  font-size: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 135px;
  z-index: 100;
  background-color: black;
}

.dropdown-content a {
  color: whitesmoke;
  padding: 5px 16px;
  display: block;
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #212122;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darksalmon;
  color: white;
  text-align: center;
  font-family: cursive;
  font-size: 10px;
  height: 15px;
}